<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cninsure.cp"
    android:versionCode="155"
    android:versionName="V1.5.5">

    <!-- 版本号必须是版本名称中数字部分，不能死其他，如版本号为V1.0.1时，版本号为101 -->
    <!-- <uses-sdk -->
    <!-- android:minSdkVersion="8" -->
    <!-- android:targetSdkVersion="19" /> -->
    <!-- 加上解决全面屏手机不能全屏的问题 -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" /> <!-- 解决Android L上通知显示异常问题，targetSdkVersion需要设置成22 -->
    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" /> <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 自定义权限 -->
    <uses-permission android:name="getui.permission.GetuiService.com.cninsure.cp" /> <!-- 替换为第三方应用的包名 -->
    <permission
        android:name="getui.permission.GetuiService.com.cninsure.cp"
        android:protectionLevel="normal"></permission> <!-- 替换为第三方应用的包名 -->
    <!--
    iBeancon功能所需权限    
    配置以下可选权限，以便使用个推3.0提供的电子围栏功能。请在AndroidManifest.xml的<manifest>根标签下添加如下配置
    -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 个推3.0电子围栏功能所需权限 -->
    <!-- 个推电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 个推SDK权限配置结束 -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission> <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission> <!-- 拨号权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.autofocus" /> <!-- 使用摄像头硬件功能 -->
    <uses-feature android:name="android.hardware.camera" /> <!-- 自动对焦功能 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 闪光灯功能 -->
    <uses-feature android:name="android.hardware.camera.flash" /> <!-- 前置摄像头 -->
    <uses-feature android:name="android.hardware.camera.front" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/AppTheme">
        <!-- 下面这句解决错误：java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/client/methods/HttpPost; -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- 加上解决全面屏手机不能全屏的问题 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.2" />

        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IndexActivity"
            android:launchMode="singleTask"></activity>

        <service android:name=".service.LocationService"></service>
        <service android:name=".service.Music"></service>

        <activity
            android:name=".activty.WorkOrderActivty"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- android:windowSoftInputMode="adjustResize" -->
        </activity>
        <activity
            android:name=".activty.CaseInfoActivty"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activty.AboutUsAvtivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activty.SecurityCenterActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activty.ChangPassActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity android:name=".activty.MessageCenterActivity"></activity>
        <activity android:name=".activty.HelpCenterActivity"></activity>
        <activity
            android:name=".fc.activity.SurveyActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name="com.karics.library.zxing.android.CaptureActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".ScannerLoginActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".fc.activity.CaseInputActivity"></activity>
        <activity
            android:name=".activty.DisplayPictureActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activty.CancelAndSubmitActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activty.ScoreActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activty.DisplayOrderActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".ocr.CameraActivity"></activity>
        <activity android:name=".ocr.LinePathActivity"></activity>
        <activity
            android:name=".fc.activity.WaterCaseInputActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".photo.CXPhotoActivity"></activity>
        <activity android:name=".navi.NavigationActivtity"></activity>
        <activity android:name=".utils.PhotoChoiceActivity"></activity>
        <activity android:name=".activty.BankCardActivity"></activity>
        <activity android:name=".activty.AddBanckCardActivity"></activity>
        <activity android:name=".fc.activity.EditSurveyGgsActivity"></activity>
        <activity android:name=".fc.activity.CaseReportActivity"></activity>
        <activity android:name=".utils.PhotoChoiceActivityFc"></activity>
        <activity android:name=".fc.activity.DispersiveCaseInputActivity"></activity>
        <activity android:name=".activity.yjx.YjxSurveyActivity"></activity>
        <activity android:name=".photo.DisplayPhotoActivity"></activity>
        <activity android:name=".activity.yjx.YjxBaoanInputActivity"></activity>
        <activity android:name=".activity.yjx.YjxTempStorageActivity"></activity>
        <activity android:name=".activity.yjx.YjxDispatchActivity"></activity>
        <activity android:name=".activity.yjx.YjxDispatchShenheActivity"></activity>
        <activity android:name=".activity.yjx.YjxNoShenheOrderActivity"></activity>
        <activity android:name="com.cninsure.cp.cx.CxDamageActivity"></activity>
        <activity android:name="com.cninsure.cp.cx.CxInjuryTrackActivity"></activity>
        <activity android:name="com.cninsure.cp.cx.CxDisabyIdentifyActivity"></activity>
        <activity android:name="com.cninsure.cp.cx.CxDsWorkActivity"></activity>
        <activity android:name="com.cninsure.cp.cx.DsUtilActivity"></activity>
        <activity android:name="com.cninsure.cp.cx.CxInjuryMediateActivity"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="com.cninsure.cp.cx.CxSurveyWorkActivity"
            android:theme="@style/Theme.AppCompat"
            android:windowSoftInputMode="adjustPan"
            ></activity>
        <activity
            android:name=".dispersive.DispersiveUserActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".dispersive.CtCenterActivity"></activity>
        <activity android:name=".dispersive.DispersiveWorkActivity"></activity> <!-- 个推 -->
        <!-- 请根据您当前自定义的 PushService 名称路径进行配置 -->
        <service
            android:name=".service.DemoPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service
            android:name=".service.DemoIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" /> <!-- 百度地图配置开始 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="q4qVT2D0Lhykff5LWwg6js2ISag2Hq3F"></meta-data>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- ShareSDK<strong>3.1.0版本之前</strong>才需要在MobUIShell下面注册此意图，3.1.0版本之后（包含3.1.0）不需要注册此intent -->
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="23316a1818ea0" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="e40663ecce9615e610134a8bbe7e90d0" />
    </application>

</manifest>